.main-nav{position:absolute;
      top: 80px;
      left: 0px;
      width: 1349px;
      height: 50px;
      background-color: #808080;}
.main-nav-text{position:absolute;
      top: 15px;
      left: 250px;
      font: normal normal 20px "微软雅黑" ; }
.main-nav-p{position:absolute;
      top: 15px;
      left: 400px;
      font: normal normal 20px "微软雅黑" ;
      color: #bdbdbd; }
.main-text-p{position:absolute;
      top: 15px;
      left: 650px;
      font: normal normal 20px "微软雅黑" ;
      color: #bdbdbd; }
      
.gouwu{position:absolute;
      top: 131px;
      left: 0px;
      width: 1349px;
      height: 330px;
      background-color:#808080;}
.gouwu-h1{position:absolute;
      top: 70px;
      left: 200px;
      font:normal 20px "微软雅黑" ;}
.gouwu-h3{position:absolute;
      top: 110px;
      left: 200px;
      font:normal 14px "微软雅黑" ;}
.gouwu-nav{position: absolute;
            top: 30px;
            left: 890px;
            width: 225px;
            height: 190px;
            border: 10px solid #C3CBCC;}
.gouwu-p{position:absolute;
      top: 10px;
      left: 15px;
      font:normal 14px "微软雅黑" ;}
.nav-p{position:absolute;
      top: 40px;
      left: 30px;
      font:normal 14px "微软雅黑" ;}
      
.cart-wei{position: absolute;
     top: 460px;
     left: 0px;
     width: 1349px;
     height: 70px;
     background-color: #000000;}
.wei-one{position: absolute;
          top: 25px;
          left: 160px;
          width: 42px;
          height: 37px;
          background: url(../img/weibo.png);} 
.wei-one:hover ul{display:block;}
.wei-one ul{display:none;
	       position: absolute;
            top: -115px;
            left:-160px;
            width: 1349px;
            height: 70px;
            background-color: #363738;}
.wei-one ul li{
	        position: absolute;
            top:0px;
            left:80px;}                      
.wei-two{position: absolute;
          top: 28px;
          left: 200px;
          width: 42px;
          height: 37px;
          background: url(../img/weixin.png);} 
.wei-two:hover ul{display:block;}
.wei-two ul{display:none;
	        position: absolute;
            top: -118px;
            left:-200px;
            width: 1349px;
            height: 70px;
            background-color: #363738;}
.wei-two ul li{
	        position: absolute;
            top:0px;
            left:200px;} 

.cart-end{position:absolute;
       top: 530px;
       left: 0px;
       height: 450px;
       width: 1349px;}
.edn-h2 {font-weight: bold;}                
.cart-end ul li{padding-left:90px;}    
.end-ul-one{position: absolute;
              top: 60px;
              left: 0px;}
.end-ul-two{position: absolute;
              top: 60px;
              left: 275px;}
.end-three{position: absolute;
              top: 60px;
              left: 520px;}
.end-four{position: absolute;
              top: 60px;
              left: 800px;}
.end-five{position: absolute;
              top: 60px;
              left: 1015px;}
.cart-phone{position: absolute;
           top: 755px;
           left: 100px;
           width: 142px;
           height: 62px;} 
.phone-h3{color:#0286cd;}
.cart-zhi{position: absolute;
           top: 865px;
           left: 170px;
           width: 250px;
           height: 40px;}
.end-icon{position: relative;
           top: 5px;
           left: 0px;}  
.end-icon1{position: relative;
           top: 5px;
           left: 0px;} 
.cart-nav{position:absolute;
       top: 930px;
       left: 0px;
       height: 40px;
       width: 1349px;
       background-color: #363738;}
.bottom-nav-p{position: absolute;
              top: 15px;
              left: 90px;
              width: 50px;
              height: 30px;
              color: #c3cbcc;} 
.bottom-nav-ban {position: absolute;
              top: 15px;
              left: 645px;
              width: 700px;
              height: 30px;
              color: #c3cbcc;}
.registration{position: absolute;
                top: 160px;
                left: 450px;
                width: 450px;
                height: 250px;
                background-color: #fff;} 
.banner{position: absolute;
          top: 85px;
          left:190px;
          }
.registration-h1{
	position: absolute;
	top: 135px;
	left: 65px;
	font-weight: normal;
}        
.registration-h3{
	position: absolute;
	top: 190px;
	left: 195px;
	font-weight: normal;         
