.demo{position:absolute;
     top: 80px;
     left: 0px;
	width:1349px;
         height:37px;
         }
.demo-p {position:relative;
     top: -15px;
     left: 1300px;
	width:34px;
         height:28px;
         }
.demo-h3{position: relative;
        top: -15px;
        left: 350px;
        font-weight: normal;
        color: #b6aea9;}
        
.header {position:relative;
         top: 0px;
         left: 0px;
	     width:1349px;
         height:1070px;
        } 
.header-h1{position:relative;
     top:62px;
     left:200px;
     width: 96px;
     height: 30px;
     font-weight: normal;} 
.header-p {position: relative;
        top: 45px;
        left: 730px;
        width: 160px;
     height: 30px;
        font-weight: normal;
        color: #b6aea9;} 
.header hr{width: 682px;
          position: relative;
        top: 65px;
        left: -140px;
        color:#b6aea9 ;} 
.header-deng-h3{position:absolute;
        top: 140px;
        left: 200px;
        font-weight: normal;}
.header-input-one{position: relative;
                    top:110px;
                    left: 200px;
                    width: 322px;
                    height: 42px;
                    border: 1px solid ##b6aea9;} 
.header-input-two{position: relative;
                    top:180px;
                    left: -128px;
                    width: 322px;
                    height: 42px;
                    border: 1px solid ##b6aea9;}
.header-input-three{width: 322px;height: 42px;}
.header-form{position: relative;
                    top:230px;
                    left: 200px;
                    width: 322px;
                    height: 100px;
                    }
.header-xi-h3{position:absolute;
        top: 485px;
        left: 200px;
        font-weight: normal;}
.header-input-four{position: absolute;
                    top:530px;
                    left: 200px;
                    width: 322px;
                    height: 42px;
                    border: 1px solid #b6aea9;}
.header-input-five{position: absolute;
                    top:600px;
                    left: 200px;
                    width: 322px;
                    height: 42px;
                    border: 1px solid #b6aea9;}
.header-text-one{position: absolute;
                top: 186px;
                left: 710px;}
.header-text-two{position: absolute;
                top: 270px;
                left: 710px;}
.header-text-three{position: absolute;
                top: 360px;
                left: 710px;
}
.header-text-four {position: absolute;
                top: 540px;
                left: 710px;
} 
.radio{position: absolute;
         top: 700px;
         left: 200px;
         width: 110px;
         height: 20px;
         } 
.header-text-five{position: absolute;
                top: 660px;
                left: 200px;
                width: 60px;
                 height: 30px;
} 
.select{position: absolute;
         top: 770px;
         left: 200px;
         width: 60px;
         height: 25px;
         }             
.select-two{position: absolute;
         top: 770px;
         left: 265px;
         width: 60px;
         height: 25px;
         } 
.select-three{position: absolute;
         top: 770px;
         left: 315px;
         width: 60px;
         height: 25px;
         }
.header-text-six{position: absolute;
                top: 730px;
                left: 200px;
                width: 60px;
                 height: 30px;
} 
.header-input-six {position: absolute;
                top: 820px;
                left: 200px;
                width: 80px;
                 height: 30px;
}
.text-yan{position: absolute;
                top: 827px;
                left: 300px;
                width: 150px;
                 height: 30px;
} 
.checkbox{position: absolute;
         top: 880px;
         left: 200px;
         width: 30px;
         height: 60px;
         }
.checkbox-text{position: absolute;
                top: 885px;
                left: 260px;
                width: 80px;
                 height: 30px;
}
.checkbox-text-two{position: absolute;
                top: 920px;
                left: 260px;
                width: 432px;
                 height: 30px;
} 
.header-input-submit{position: absolute;
                top: 980px;
                left: 200px;
                width: 322px;
                 height: 40px;
                 background-color: #0276b3;
                 color: #fff;
               }  
.href-top{position: absolute;
            top: 995px;
            left: 1260px;
            width: 40px;
            height: 20px;
            font: normal bold 20px "微软雅黑";}

.register-wei{position: absolute;
     top: 1200px;
     left: 0px;
     width: 1349px;
     height: 70px;
     background-color: #000000;}
.wei-one{position: absolute;
          top: 25px;
          left: 160px;
          width: 42px;
          height: 37px;
          background: url(../img/weibo.png);} 
.wei-one:hover ul{display:block;}
.wei-one ul{display:none;
	       position: absolute;
            top: -115px;
            left:-160px;
            width: 1349px;
            height: 70px;
            background-color: #363738;}
.wei-one ul li{
	        position: absolute;
            top:0px;
            left:80px;}                      
.wei-two{position: absolute;
          top: 28px;
          left: 200px;
          width: 42px;
          height: 37px;
          background: url(../img/weixin.png);} 
.wei-two:hover ul{display:block;}
.wei-two ul{display:none;
	        position: absolute;
            top: -118px;
            left:-200px;
            width: 1349px;
            height: 70px;
            background-color: #363738;}
.wei-two ul li{
	        position: absolute;
            top:0px;
            left:200px;} 

.register-footer{position:absolute;
       top: 1270px;
       left: 0px;
       height: 450px;
       width: 1349px;}
.footer-h2 {font-weight: bold;}                
.register-footer ul li{padding-left:90px;}    
.footer-ul-one{position: absolute;
              top: 60px;
              left: 0px;}
.footer-ul-two{position: absolute;
              top: 60px;
              left: 275px;}
.footer-three{position: absolute;
              top: 60px;
              left: 520px;}
.footer-four{position: absolute;
              top: 60px;
              left: 800px;}
.footer-five{position: absolute;
              top: 60px;
              left: 1015px;}
.footer-phone{position: absolute;
           top: 1540px;
           left: 100px;
           width: 142px;
           height: 62px;} 
.phone-h3{color:#0286cd;}
.footer-zhi{position: absolute;
           top: 1680px;
           left: 170px;
           width: 250px;
           height: 40px;}
.footer-icon{position: relative;
           top: 5px;
           left: 0px;}  
.footer-icon1{position: relative;
           top: 5px;
           left: 0px;} 
.footer-nav{position:absolute;
       top: 1720px;
       left: 0px;
       height: 40px;
       width: 1349px;
       background-color: #363738;}
.footer-nav-p{position: absolute;
              top: 15px;
              left: 90px;
              width: 50px;
              height: 30px;
              color: #c3cbcc;} 
.footer-nav-ban {position: absolute;
              top: 15px;
              left: 645px;
              width: 700px;
              height: 30px;
              color: #c3cbcc;}                                                                                            